/*layout-blog*/
.title {
    font-size: large;
    font-weight: bold;
    color: var(--caption-color);
    margin-top: 1.5rem;
}

.information {
    color: darkgray;
    font-size: small;
    margin-top: 0.15rem;
}
article .body {
    padding-left: 1rem;
    border-left: 4px solid #c0babb;
}
article ul {
    padding-left: 0;
}

article .footer {
    display: flex;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 20px;
}

article .footer .left{
    display: flex;
    margin-left: 0;
    align-items: center;
}

article .footer .right {
    margin-right: 0;
}

article .positive-score {
    font-weight: bold;
    color: green;
}
